/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  min-height: 100vh; /* Set body to cover the entire viewport height */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-attachment: fixed; /* Fix the background to prevent scrolling */
  background: rgb(30, 42, 71);
  background: -moz-radial-gradient(
    circle,
    rgba(30, 42, 71, 1) 0%,
    rgba(15, 23, 38, 1) 50%,
    rgba(30, 42, 71, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(30, 42, 71, 1) 0%,
    rgba(15, 23, 38, 1) 50%,
    rgba(30, 42, 71, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(30, 42, 71, 1) 0%,
    rgba(15, 23, 38, 1) 50%,
    rgba(30, 42, 71, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2a47",endColorstr="#1e2a47",GradientType=1);
}

.classNames {
}
